Project/AutomobilePurchaseOrder/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PartDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" type="xs:float" />
      <xs:element minOccurs="0" name="PartID" type="xs:int" />
      <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartDetails" nillable="true" type="tns:PartDetails" />
  <xs:complexType name="MfgDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MfgID" type="xs:int" />
      <xs:element minOccurs="0" name="OrgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MfgDetails" nillable="true" type="tns:MfgDetails" />
</xs:schema>